@font-face {
    font-family: cinemaR;
    src: url(fonts/Cinematografica-Regular-trial.ttf);
}

@font-face {
    font-family: cinemaB;
    src: url(fonts/Cinematografica-Bold-trial.ttf);
}


*{
    margin: 0;
    border: 0;
    font-family: Courier, 'Courier New', monospace;
    font-size: 16px;
    box-sizing: border-box;
    color: aliceblue;
}

header{
    height: 100%;
    width: 100%;
    background-color: #3a3a3b;
    padding: 15px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.logo {
    text-decoration: none;
    color: #c2c2c2 (219, 171, 81); 
    font-family: cinemaB, Courier, 'Courier New', monospace;
    letter-spacing: 10px;
    font-size: 40px;
    float: right;
    display: flex;
    flex-direction: row;
}

.logo span{
    font-size: 40px;
    letter-spacing: 10px;
    font-family: cinemaB, Courier, 'Courier New', monospace;
    color: rgb(219, 171, 81);
    text-shadow: 0 0 10px black;
    float: right;
    display: flex;
    flex-direction: row;
}

.navbar{
    background-color: #3a3a3b !important;
}

.navbar-toggler{
    border: none;

}

.navbar-nav{
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.nav-item{
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;

}

.nav-item a{
    font-size: 25px;
    font-family: cinemaR, Courier, 'Courier New', monospace;
    letter-spacing: 5px;
    color: aliceblue;
    text-decoration: none;
    border: 3px solid #3a3a3b;
}

.nav-item a:hover{
    color: #333;
    border: 3px groove #3a3a3b;
    background-color: aliceblue;
}

.main{
    padding: 2%;
    height: auto;
    width: 100%;
    background-color: #505050 !important;
}
.jumbotron{
background-image: url(../source/Cinema\ Banner.png);
background-size: cover;
background-position: center;
height: 450px;
border-radius: 0;
margin-bottom: 0;
}
.jumbotron h1{
    font-family: cinemaB, Courier, 'Courier New', monospace;
    color: #D8A952;
    text-shadow: 0 0 20px #000;
}
.jumbotron p{
    font-family: cinemaB, Courier, 'Courier New', monospace;
    color: aliceblue;
    text-shadow: 0 0 20px #000;
}

.nleft{
    background-image: url(../source/Perfil1.png);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.nright{
    text-align: center;
}

#descProfile{
    padding: 30px;
}

footer{
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: #3a3a3b;
}

.fItem1{
    padding: 30px;
    text-align: left;
}

.line{
    font-size: 20px;
    letter-spacing: 3px;
    font-family: cinemaB, Courier, 'Courier New', monospace;
}

.copyright{
    width: 550px;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: cinemaB, Courier, 'Courier New', monospace;
    padding: 30px;
    text-align: center;
}

.ctFooter{
    padding: 30px;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: cinemaB, Courier, 'Courier New', monospace;
    text-align: right;
}
.ctFooter a{
    font-size: 20px;
    font-family: cinemaB, Courier, 'Courier New', monospace;
}

.sec{
width: 100%;
}

h2{
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    height: 50px;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3a3a3b;
    
}

.carrousel{
    width: 70%;
    height: auto;
}

.mainAll{
    height: 100%;
    padding:70px;
}

.form{
    height: auto;
    width: 50%;
    padding: 35px;
    background-color: #3a3a3b;
}
.fImp{
    padding: 10px;
}

.imp{
    width: 100%;
}

.message{
    height: 60px;
}

.boton{
    height: 60px;
    width: 120px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    background-color: #505050;
    border: 3px solid black;
}